.agency-detail {
    margin-bottom: 30px;
}

.agency-detail-picture {
    border: 1px solid $color-gray;
    padding: 1px;

    img {
        width: 100%;
    }
}

.agency-detail {
    .social {
        li {
            &:first-child {
                margin-left: 0px;
            }
        }
    }
}