<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Ideabox Mobile IU Template</title>

	<!-- Google font file. If you want you can change. -->
	<link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700,900" rel="stylesheet">

	<!-- Fontawesome font file css -->
	<link rel="stylesheet" type="text/css" href="css\font-awesome.min.css">

	<!-- Template global css file. Requared all pages -->
	<link rel="stylesheet" type="text/css" href="css\global.style.css">
</head>

<body>
	
	<div class="wrapper">
		<div class="nav-menu">
			<nav class="menu">
				<!-- Template logo start -->
				<div class="nav-header">
					<a href="home.html"><img src="img\app-logo.png" width="160"></a>
				</div>
				<!-- Template logo end -->
				<!-- Menu navigation start -->
				<div class="nav-container">
					<ul class="main-menu">
						<li>
							<a href="home.html"><i class="fa fa-home"></i> Home</a>
						</li>
						<li>
							<a href="javascript:void(0);"><i class="fa fa-sign-in"></i> Entry <span class="fa fa-angle-down"></span></a>
							<ul>
								<li><a href="login.html" data-loader="show">Login</a></li>
								<li><a href="signup.html" data-loader="show">Register</a></li>
								<li><a href="forgot-password.html" data-loader="show">Forgot Password</a></li>
							</ul>
						</li>
						<li>
							<a href="javascript:void(0);"><i class="fa fa-file-image-o"></i> Gallery <span class="fa fa-angle-down"></span></a>
							<ul>
								<li><a href="album.html" data-loader="show">Albums</a></li>
								<li><a href="gallery.html" data-loader="show">Gallery</a></li>
							</ul>
						</li>
						<li>
							<a href="#"><i class="fa fa-file-text-o"></i> Blog <span class="fa fa-angle-down"></span></a>
							<ul>
								<li><a href="post-list-1.html" data-loader="show">List 1</a></li>
								<li><a href="post-list-2.html" data-loader="show">List 2</a></li>
								<li><a href="post-detail.html" data-loader="show">Detail</a></li>
								<li><a href="post-author.html" data-loader="show">Author</a></li>
							</ul>
						</li>
						<li>
							<a href="#"><i class="fa fa-shopping-basket"></i> Shop <span class="fa fa-angle-down"></span></a>
							<ul>
								<li><a href="product-list.html" data-loader="show">Product List</a></li>
								<li><a href="product-detail.html" data-loader="show">Product Detail</a></li>
								<li><a href="product-basket.html" data-loader="show">Basket</a></li>
							</ul>
						</li>
						<li>
							<a href="javascript:void(0);"><i class="fa fa-magic"></i> Wizards <span class="fa fa-angle-down"></span></a>
							<ul>
								<li><a href="wizard-default.html" data-loader="show">Wizard Default</a></li>
								<li><a href="wizard-fullscreen.html" data-loader="show">Wizard Fullscreen</a></li>
							</ul>
						</li>
						<li>
							<a href="forms.html" data-loader="show"><i class="fa fa-th-large"></i> Form Elements</a>
						</li>
						<li>
							<a href="#"><i class="fa fa-table"></i> Components <span class="fa fa-angle-down"></span></a>
							<ul>
								<li><a href="tab-bottom.html" data-loader="show">Tab (Bottom)</a></li>
								<li><a href="tab-top.html" data-loader="show">Tab (Top)</a></li>
								<li><a href="accordion.html" data-loader="show">Accordion</a></li>
								<li><a href="popup.html" data-loader="show">Popup Modal</a></li>
								<li><a href="checkbox-list.html" data-loader="show">Check List</a></li>
								<li><a href="link-list.html" data-loader="show">Link List</a></li>
								<li><a href="link-list-two-column.html" data-loader="show">Two Column Links</a></li>
							</ul>
						</li>
						<li class="active">
							<a href="#"><i class="fa fa-file-text-o"></i> Pages <span class="fa fa-angle-down"></span></a>
							<ul>
								<li><a href="profile.html" data-loader="show">User Profile</a></li>
								<li><a href="search-popup.html" data-loader="show">Search Popup</a></li>
								<li><a href="search-result.html" data-loader="show">Search Results</a></li>
								<li class="active"><a href="contact.html" data-loader="show">Contact</a></li>
								<li><a href="blank.html" data-loader="show">Blank Page</a></li>
							</ul>
						</li>
					</ul>
				</div>
			<!-- Menu navigation end -->
			</nav>
		</div>
		<div class="wrapper-inline">
			<!-- Header area start -->
			<header> <!-- extra class no-background -->
				<a class="go-back-link" href="javascript:history.back();"><i class="fa fa-arrow-left"></i></a>
				<h1 class="page-title">CONTACT</h1>
				<div class="navi-menu-button">
					<em></em>
					<em></em>
					<em></em>
				</div>
			</header>
			<!-- Header area end -->
			<!-- Page content start -->
			<main>
				<div id="map" class="map_container">
					
				</div>

				<div class="contact-info">
					<div class="contact-stars">
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star-half-o"></i>
						<i class="fa fa-star-o"></i>
						<span>3.58</span>
						<span>(1.425 reviews)</span>
					</div>
					<h3 class="address-name">The Musem of the City of New York</h3>
					<p class="address">Madison Ave - New York</p>
				</div>

				<div class="contact-address">
					<div class="contact-item">
						<i class="fa fa-map-marker"></i> Madison Ave - New York
					</div>

					<div class="contact-item">
						<i class="fa fa-clock-o"></i> 09:00 to 17:00 working days
					</div>

					<div class="contact-item">
						<i class="fa fa-phone"></i> +1 (111) 444 1 444
					</div>

					<div class="contact-item">
						<i class="fa fa-globe"></i> www.example.com
					</div>

					<div class="contact-item">
						<i class="fa fa-envelope"></i> info@example.com
					</div>
				</div>

				<div class="contact-short-info">
					<h3 class="title">Short Info</h3>
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
				</div>
			</main>
			<!-- Page content end -->
		</div>
	</div>


	<!--Page loader DOM Elements. Requared all pages-->
	<div class="sweet-loader">
		<div class="box">
		  	<div class="circle1"></div>
		  	<div class="circle2"></div>
		  	<div class="circle3"></div>
		</div>
	</div>

	<!-- JQuery library file. requared all pages -->
	<script src="js\jquery-3.2.1.min.js"></script>

	<!-- Google maps js file. only this page required. -->
	<!-- PLEASE ADD YOUR GOOGLE MAPS API KEY ON key=AIzaSyCC174wOMt8piBvVTEtyBQOEZnInQw60ZA -->
	<script async="" defer="" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCC174wOMt8piBvVTEtyBQOEZnInQw60ZA&callback=initMap"></script>

	<!-- Template global script file. requared all pages -->
	<script src="js\global.script.js"></script>

	<script type="text/javascript">
		
		function initMap() {
	        var coords = {lat: 40.7925077, lng: -73.9519218};
	        var map = new google.maps.Map(document.getElementById('map'), {
	          	zoom: 14,
	          	center: coords
	        });
	        var marker = new google.maps.Marker({
	          	position: coords,
	          	map: map
	        });
	    }

	</script>

	
</body>

</html>