<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Ideabox Mobile IU Template</title>

	<!-- Google font file. If you want you can change. -->
	<link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700,900" rel="stylesheet">

	<!-- Fontawesome font file css -->
	<link rel="stylesheet" type="text/css" href="css\font-awesome.min.css">

	<!-- Template global css file. Requared all pages -->
	<link rel="stylesheet" type="text/css" href="css\global.style.css">
</head>

<body>
	
	<div class="wrapper">
		<div class="nav-menu">
			<nav class="menu">
				<!-- Template logo start -->
				<div class="nav-header">
					<a href="home.html"><img src="img\app-logo.png" width="160"></a>
				</div>
				<!-- Template logo end -->
				<!-- Menu navigation start -->
				<div class="nav-container">
					<ul class="main-menu">
						<li>
							<a href="home.html"><i class="fa fa-home"></i> Home</a>
						</li>
						<li>
							<a href="javascript:void(0);"><i class="fa fa-sign-in"></i> Entry <span class="fa fa-angle-down"></span></a>
							<ul>
								<li><a href="login.html" data-loader="show">Login</a></li>
								<li><a href="signup.html" data-loader="show">Register</a></li>
								<li><a href="forgot-password.html" data-loader="show">Forgot Password</a></li>
							</ul>
						</li>
						<li>
							<a href="javascript:void(0);"><i class="fa fa-file-image-o"></i> Gallery <span class="fa fa-angle-down"></span></a>
							<ul>
								<li><a href="album.html" data-loader="show">Albums</a></li>
								<li><a href="gallery.html" data-loader="show">Gallery</a></li>
							</ul>
						</li>
						<li class="active">
							<a href="javascript:void(0);"><i class="fa fa-file-text-o"></i> Blog <span class="fa fa-angle-down"></span></a>
							<ul>
								<li class="active"><a href="post-list-1.html" data-loader="show">List 1</a></li>
								<li><a href="post-list-2.html" data-loader="show">List 2</a></li>
								<li><a href="post-detail.html" data-loader="show">Detail</a></li>
								<li><a href="post-author.html" data-loader="show">Author</a></li>
							</ul>
						</li>
						<li>
							<a href="javascript:void(0);"><i class="fa fa-shopping-basket"></i> Shop <span class="fa fa-angle-down"></span></a>
							<ul>
								<li><a href="product-list.html" data-loader="show">Product List</a></li>
								<li><a href="product-detail.html" data-loader="show">Product Detail</a></li>
								<li><a href="product-basket.html" data-loader="show">Basket</a></li>
							</ul>
						</li>
						<li>
							<a href="javascript:void(0);"><i class="fa fa-magic"></i> Wizards <span class="fa fa-angle-down"></span></a>
							<ul>
								<li><a href="wizard-default.html" data-loader="show">Wizard Default</a></li>
								<li><a href="wizard-fullscreen.html" data-loader="show">Wizard Fullscreen</a></li>
							</ul>
						</li>
						<li>
							<a href="forms.html" data-loader="show"><i class="fa fa-th-large"></i> Form Elements</a>
						</li>
						<li>
							<a href="javascript:void(0);"><i class="fa fa-table"></i> Components <span class="fa fa-angle-down"></span></a>
							<ul>
								<li><a href="tab-bottom.html" data-loader="show">Tab (Bottom)</a></li>
								<li><a href="tab-top.html" data-loader="show">Tab (Top)</a></li>
								<li><a href="accordion.html" data-loader="show">Accordion</a></li>
								<li><a href="popup.html" data-loader="show">Popup Modal</a></li>
								<li><a href="checkbox-list.html" data-loader="show">Check List</a></li>
								<li><a href="link-list.html" data-loader="show">Link List</a></li>
								<li><a href="link-list-two-column.html" data-loader="show">Two Column Links</a></li>
							</ul>
						</li>
						<li>
							<a href="javascript:void(0);"><i class="fa fa-file-text-o"></i> Pages <span class="fa fa-angle-down"></span></a>
							<ul>
								<li><a href="profile.html" data-loader="show">User Profile</a></li>
								<li><a href="search-popup.html" data-loader="show">Search Popup</a></li>
								<li><a href="search-result.html" data-loader="show">Search Results</a></li>
								<li><a href="contact.html" data-loader="show">Contact</a></li>
								<li><a href="blank.html" data-loader="show">Blank Page</a></li>
							</ul>
						</li>
					</ul>
				</div>
			<!-- Menu navigation end -->
			</nav>
		</div>
		<div class="wrapper-inline">
			<!-- Header area start -->
			<header> <!-- extra class no-background -->
				<a class="go-back-link" href="javascript:history.back();"><i class="fa fa-arrow-left"></i></a>
				<h1 class="page-title">POST LIST 1</h1>
				<div class="navi-menu-button">
					<em></em>
					<em></em>
					<em></em>
				</div>
			</header>
			<!-- Header area end -->
			<!-- Page content start -->
			<main>
				<section class="container">


					<!-- POST ITEM START -->
					<div class="post-item">
						<div class="post-asset image">
							<img src="img\assets\post-img-2.jpg">
						</div>
						<div class="post-header">
							<h3 class="post-title"><a href="#" data-loader="show">Art Of Coffee</a></h3>
							<span class="post-category"><i class="fa fa-th-large"></i> Travel</span>
							<span class="post-date"><i class="fa fa-clock-o"></i> 7 hours ago</span>
							<span class="post-comments"><i class="fa fa-comments"></i> 13 comments</span>
						</div>
						<div class="post-footer">
							<a href="#" class="post-author">
								<span class="author-img"><img src="img\avatar.png"></span>
								<span class="author-name">post by<b>Jessica Jones</b></span>
							</a>
							<div class="post-extra">
								<div class="add-favorite"><i class="fa fa-heart-o"></i></div>
								<div class="post-share"><i class="fa fa-share-alt"></i>
									<div class="social-links">
										<a href="#" class="share-facebook"><i class="fa fa-facebook"></i></a>
										<a href="#" class="share-twitter"><i class="fa fa-twitter"></i></a>
										<a href="#" class="share-google-plus"><i class="fa fa-google-plus"></i></a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- POST ITEM END -->

					<div class="form-mini-divider"></div>

					<!-- POST ITEM START -->
					<div class="post-item">
						<div class="post-asset video">
							<iframe src="https://www.youtube.com/embed/Wro0VE6i-XM?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen=""></iframe>
						</div>
						<div class="post-header">
							<h3 class="post-title"><a href="#" data-loader="show">Game of Thrones Theme - Western Cover</a></h3>
							<span class="post-category"><i class="fa fa-th-large"></i> Travel</span>
							<span class="post-date"><i class="fa fa-clock-o"></i> 7 hours ago</span>
							<span class="post-comments"><i class="fa fa-comments"></i> 13 comments</span>
						</div>
						<div class="post-footer">
							<a href="#" class="post-author">
								<span class="author-img"><img src="img\avatar.png"></span>
								<span class="author-name">post by<b>Jessica Jones</b></span>
							</a>
							<div class="post-extra">
								<div class="add-favorite"><i class="fa fa-heart-o"></i></div>
								<div class="post-share"><i class="fa fa-share-alt"></i>
									<div class="social-links">
										<a href="#" class="share-facebook"><i class="fa fa-facebook"></i></a>
										<a href="#" class="share-twitter"><i class="fa fa-twitter"></i></a>
										<a href="#" class="share-google-plus"><i class="fa fa-google-plus"></i></a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- POST ITEM END -->

					<div class="form-mini-divider"></div>

					<!-- POST ITEM START -->
					<div class="post-item">
						<div class="post-asset image">
							<img src="img\assets\post-img-1.jpg">
						</div>
						<div class="post-header">
							<h3 class="post-title"><a href="#" data-loader="show">Ballon Tour in Cappadocia</a></h3>
							<span class="post-category"><i class="fa fa-th-large"></i> Travel</span>
							<span class="post-date"><i class="fa fa-clock-o"></i> 7 hours ago</span>
							<span class="post-comments"><i class="fa fa-comments"></i> 13 comments</span>
						</div>
						<div class="post-footer">
							<a href="#" class="post-author">
								<span class="author-img"><img src="img\avatar.png"></span>
								<span class="author-name">post by<b>Jessica Jones</b></span>
							</a>
							<div class="post-extra">
								<div class="add-favorite"><i class="fa fa-heart-o"></i></div>
								<div class="post-share"><i class="fa fa-share-alt"></i>
									<div class="social-links">
										<a href="#" class="share-facebook"><i class="fa fa-facebook"></i></a>
										<a href="#" class="share-twitter"><i class="fa fa-twitter"></i></a>
										<a href="#" class="share-google-plus"><i class="fa fa-google-plus"></i></a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- POST ITEM END -->

					<div class="form-mini-divider"></div>

					<!-- POST ITEM START -->
					<div class="post-item">
						<div class="post-header">
							<h3 class="post-title"><a href="#" data-loader="show">Post Style Without Image</a></h3>
							<p class="post-description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
							<span class="post-category"><i class="fa fa-th-large"></i> Travel</span>
							<span class="post-date"><i class="fa fa-clock-o"></i> 7 hours ago</span>
							<span class="post-comments"><i class="fa fa-comments"></i> 13 comments</span>
						</div>
						<div class="post-footer">
							<a href="#" class="post-author">
								<span class="author-img"><img src="img\avatar.png"></span>
								<span class="author-name">post by<b>Jessica Jones</b></span>
							</a>
							<div class="post-extra">
								<div class="add-favorite"><i class="fa fa-heart-o"></i></div>
								<div class="post-share"><i class="fa fa-share-alt"></i>
									<div class="social-links">
										<a href="#" class="share-facebook"><i class="fa fa-facebook"></i></a>
										<a href="#" class="share-twitter"><i class="fa fa-twitter"></i></a>
										<a href="#" class="share-google-plus"><i class="fa fa-google-plus"></i></a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- POST ITEM END -->

					<div class="form-divider"></div>

					<button class="button circle block green">Load more</button>

					<div class="form-divider"></div>

				</section>
			</main>
			<!-- Page content end -->
		</div>
	</div>


	<!--Page loader DOM Elements. Requared all pages-->
	<div class="sweet-loader">
		<div class="box">
		  	<div class="circle1"></div>
		  	<div class="circle2"></div>
		  	<div class="circle3"></div>
		</div>
	</div>

	<!-- JQuery library file. requared all pages -->
	<script src="js\jquery-3.2.1.min.js"></script>

	<!-- Template global script file. requared all pages -->
	<script src="js\global.script.js"></script>

	
</body>

</html>